<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

<conversionRule conversionWord="mask" class="com.ssafy.ssashinsa.heyfy.log.MaskingConverter"/>

<appender name="APP_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/app/app.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/app/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxHistory>14</maxHistory>
        <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <timestamp>
                <timeZone>Asia/Seoul</timeZone>
            </timestamp>
            <pattern>
                <pattern>
                    {
                    "level":"%level",
                    "logger":"%logger",
                    "thread":"%thread",
                    "traceId":"%X{traceId:-}",
                    "message":"%mask(%msg)",
                    "exception":"%exception{5}"
                    }
                </pattern>
            </pattern>
            <mdc/>
            <context/>
        </providers>
    </encoder>
</appender>

<appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <timestamp>
                <timeZone>Asia/Seoul</timeZone>
            </timestamp>
            <pattern>
                <pattern>
                    {
                    "level":"%level",
                    "logger":"%logger",
                    "thread":"%thread",
                    "traceId":"%X{traceId:-}",
                    "message":"%mask(%msg)",
                    "exception":"%exception{5}"
                    }
                </pattern>
            </pattern>
            <mdc/>
            <context/>
        </providers>
    </encoder>
</appender>

<root level="INFO">
    <appender-ref ref="APP_JSON"/>
    <appender-ref ref="CONSOLE_JSON"/>
</root>
</configuration>